:root[data-theme='dark'] {
  --bg-primary: #2a1313;
  --text-primary: #ffffff;
}
:root[data-theme='light'] {
  --bg-primary: #db6767;
  --text-primary: #271414;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
}
